asgiref==3.7.1
comtypes==1.1.14
Django==4.2.1
joblib==1.2.0
numpy==1.24.3
pandas==2.0.1
pypiwin32==223
python-dateutil==2.8.2
pyttsx3==2.90
pytz==2023.3
pywin32==306
scikit-learn==1.2.2
scipy==1.10.1
six==1.16.0
sklearn==0.0.post5
sqlparse==0.4.4
threadpoolctl==3.1.0
typing_extensions==4.6.2
tzdata==2023.3
